@import '~antd/es/style/themes/default.less';
@import '~antd/es/input-number/style/index.less';

html,
body,
#root {
  height: 100%;
  -webkit-font-smoothing: antialiased !important;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ant-layout{
  z-index: 999999;
}
.ant-pro-sider-logo{
  height: 106px !important;
}
.ant-layout-header{
  width: 100vw !important;
  height: 106px !important;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 9999;
}
.ant-layout-content{
  margin-top: 106px !important;
}
